@import com.cask.models.user.ServerUser
@(user: ServerUser, serverUrl: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
    </head>
    <body>
        <div style="max-width: 400px;
            margin:24px;
            padding: 24px;
            background-color: #2b2b2b;
            color: #cfcfd0 ;
            font-family: Arial;">
            <p>Hello <b>@{user.user.public.username}</b>
            @content
        </div>
    </body>
</html>


